In [82]:
var_ent = 8
print(var_ent)

8

In [3]:
print(type(8.5))

<class 'float'>

In [4]:
print(type(var_ent))

<class 'int'>

In [5]:
var_nom = 'Juan Carlos Zamora'
print(var_nom)

Juan Carlos Zamora

In [6]:
var_compl = 2 + 3j
print(var_compl)

(2+3j)

In [7]:
print(type(var_compl))

<class 'complex'>

In [12]:
from cmath import pi


var_pi = pi
print(round(var_pi,4))

3.1416

In [17]:
var_str = 'True'
var_log = True

'No es lo mismo una es una variable str y la otra bool'

'No es lo mismo una es una variable str y la otra bool'

In [18]:
print (type(var_str))
print (type(var_log))

<class 'str'>
<class 'bool'>

In [19]:
var_suma = 5 + 4.8
print(var_suma)

9.8

In [20]:
var_compl1 = 3 + 5j
var_compl2 = 4 + 2j
print(var_compl1 + var_compl2)

(7+7j)

In [22]:

print(var_suma + var_compl1)

(12.8+5j)

In [23]:
print (5 * 6)

30

In [24]:
print(2**8)

256

In [25]:
var_div = 27/4
print(var_div)

6.75

In [30]:
var_div1 = int(var_div)
print(var_div1)

6

In [31]:
var_div2 = 27%4
print(var_div2)

3

In [32]:
print(4*var_div1+var_div2)

27

In [34]:
var_nom1 = 'Juan Carlos'
var_nom2 = ' Zamora'
var_nom3 = var_nom1 + var_nom2
print(var_nom3)

Juan Carlos Zamora

In [40]:
var_201 = "2"
var_202 = 2
print(type(var_201))
print(type(var_202))
'El numero dos entre comillas es un tipo cadena y el dos sin comillas es un numero entero'

<class 'str'>
<class 'int'>

'El numero dos entre comillas es un tipo cadena y el dos sin comillas es un numero entero'

In [41]:
print (var_201 == var_202)
var_201 = int(var_201)
print(var_201 == var_202)

False
True

In [46]:
a = float('3.8')
print(a)
'si pongo 3,8 (con coma) no lo reconoce como numero, ya que python usa como signo decimal el punto'

3.8

'si pongo 3,8 (con coma) no lo reconoce como numero, ya que python usa como signo decimal el punto'

In [55]:
var_23 = 3
var_23 -= 20
print(var_23)

-17

In [60]:

print(bin(1))
print (1<<2)
print (bin(1<<2))
'Da 4 porque se esta trabajando con numeros binarios que son representaciones de ceros y unos. En este caso el binario de 1 es 0001, pero si desplazamos dos unidades a la izquiera, se tiene el numero binario 0100 cuyo valor decimal es 4'

0b1
4
0b100

'Da 4 porque se esta trabajando con numeros binarios que son representaciones de ceros y unos. En este caso el binario de 1 es 0001, pero si desplazamos dos unidades a la izquiera, se tiene el numero binario 0100 cuyo valor decimal es 4'

In [68]:
var_251 = 2
var_252 = '2'
'var_253 = var_251 + var_252, muestra un error de tipo ya que se estarina sumando un entero con una cadena'
var_254 = str (var_251) #se convierte una variable numerica en cadena
print (var_254)
print (var_252 + var_254) #se suman ambas cadenas

2
22

In [81]:
var_261 = 5
var_262 = 'cadena'
print(var_261)
print(var_262)
'Var_263 = var_261 + var_262 - esta operacion da error'
print (var_261 * var_262) #multiplica 5 veces la constante 'cadena'

5
cadena
cadenacadenacadenacadenacadena